<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/signin.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<title>باریسکا|ورود</title>
</head>
<body>
<div id="Home">
	<form class="form" method="post">
		<h4>ورود به پنل کافه</h4><br>
		{{ form.as_p }}
		{% csrf_token %}
		<p><input class="submit" type="submit" value="ورود"></p>
		<span class="or_via">--- یا با گوگل وارد شوید ---</span>
		<a href="{% url "social:begin" "google-oauth2" %}">
			<img class="google" width="3em" height="3em" src="{% static "svg/Google-icon.svg" %}"></img>
		</a>
	</form>
	<svg class="header">
		<rect id="header" rx="0" ry="0" x="0" y="0" width="100%" height="100%"></rect>
	</svg>
	<div class="Header">
		<span>باریسکا<small style="color: black; font-size: 16px;">.ir</small></span>
	</div>

</div>
</body>
</html>