@font-face {
    font-family: Shabnam;
    src: url(/static/webfonts/Shabnam-FD.ttf);
}
@font-face {
    font-family: ShabnamLight;
    src: url(/static/webfonts/Shabnam-Light-FD.ttf);
}
@font-face {
    font-family: ShabnamMedium;
    src: url(/static/webfonts/Shabnam-Medium-FD.ttf);
}
@font-face {
    font-family: ShabnamBold;
    src: url(/static/webfonts/Shabnam-Bold-FD.ttf);
}
@font-face {
    font-family: Vazir;
    src: url(/static/webfonts/Vazir.ttf);
}
@font-face {
    font-family: VazirBold;
    src: url(/static/webfonts/VazirBold.ttf);
}
#pageContent {
    position: relative;
    display: flex;
    padding: 80px;
    text-align: right;
    flex-direction: column;
}
#pTitle {
    margin: auto;
    font-family: shabnam;
    font-weight: bold;
    cursor: default;
    user-select: none;
}
#mForm {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    padding: 5px 15px 15px 15px;
    border-radius: 10px;
    background-color: #d8bfd840;
    user-select: none;
}
.nForm {
    width: 200px;
    padding: 5px 10px 5px;
    margin-top: 8px;
    text-align: right;
    direction: rtl;
    font-family: vazir;
    border-style: solid;
    border-width: 2px;
    border-color: thistle;
    border-radius: 10px;
    background-color: #d8bfd840;
    transition: .2s;
}
.nForm:focus {
    border-color: thistle;
    border-radius: 5px;
    background-color: #ece2ec40;
}
.fLabel {
    direction: rtl;
    margin-top: 18px;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    font-family: vazir;
    cursor: default;
}
.fSelect {
    width: 100px;
    padding: 3px 10px;
}
.fText {
    font-family: shabnam;
}
#submit {
    margin-top: 30px;
    float: left;
    width: auto;
    padding: 3px 20px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #ff8c77;
    border-color: #d8bfd840;
    cursor: pointer;
    transition: .2s;
}
#submit:active {
    background-color: #ffd268;
    border-color: #fcc23b;
}
#submit:hover {
    background-color: #ffd268;
    border-color: #fcc23b;
}
.cPros {
    position: relative;
    margin-left: 10px;
    padding: 5px 20px;
    font-family: shabnam;
    font-weight: 500;
    direction: rtl;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}
.cPros:hover {
    border-style: solid;
    border-width: 2px;
    border-color: thistle;
}
.cPros:active {
    border-style: solid;
    border-width: 2px;
    border-color: #b58fb5;
    background-color: thistle !important;
}
.cProsSelected {
    /*margin-left: 10px;
    margin-right: 10px;*/
    border-style: solid;
    border-width: 2px;
    border-color: #b58fb5;
    background-color: thistle !important;
    font-weight: 600 !important;
}
.pNum {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    color: white;
    background-color: green;
    border-radius: 50%;
    font-family: Shabnam;
    font-weight: 400;
    text-align: center;
}
.pNumMin {
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-family: Shabnam;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
#cProsList {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    min-height: 75px;
    align-items: center;
    row-gap: 10px;
}
.cProsCat {
    margin-left: 8px;
    padding: 1.5px 5px;
    font-family: vazir;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: default;
}
.oPros {
    position: relative;
    margin-left: 15px;
    margin-top: 10px;
    float: right;
    padding: 2px 12px;
    font-family: vazir;
    font-size: 14px;
    font-weight: 100;
    background-color: thistle;
    border-radius: 15px;
    cursor: default;
    transition: .2s;
}
.oTempsList {
    position: relative;
    overflow: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: #d8bfd887;
    border-radius: 10px;
    border-bottom: 3px solid;
    border-right: 3px solid;
}
#todayOrders {
    width: 99%;
    background-color: mediumpurple;
    padding: 5px;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
    font-size: 17px;
}
.oDateGroup {
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 2px 5px;
    background-color: sienna;
    border-radius: 10px 0 10px 10px;
    color: white;
    font-family: shabnam;
    cursor: default;
}
.oProsCat {
    position: relative;
    margin-left: 5px;
    padding: 1.5px 5px;
    float: right;
    font-family: shabnam;
    font-weight: 500;
    color: white;
    opacity: 70%;
    background-color: chocolate;
    border-radius: 9px;
    cursor: default;
}
.popUpBg {
    position: absolute;
    display: none;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: grayscale(.5) blur(1px);
}
.success {
    position: fixed;
    display: none;
    width: 260px;
    z-index: 2;
    text-align: center;
    left: 33%;
    top: 40%;
    background-color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 15px;
    filter: drop-shadow(0px 0px 8px #41414161);
    font-family: vazir;
    cursor: default;
}
.delBtn:hover {
    background-color: mediumpurple !important;
    border-style: solid;
    border-width: 2px;
    border-color: #dcdcdc;
}
#delY {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    width: 33%;
    text-align: center;
    float: left;
    padding: 1px 12px;
    font-weight: 100;
    color: white;
    font-family: vazir;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}
#delN {
    width: 33%;
    text-align: center;
    margin-left: 15px;
    float: right;
    padding: 1px 12px;
    font-weight: 100;
    color: white;
    background-color: grey;
    font-family: vazir;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}
.downBtn {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15px;
    height: 15px;
    /*color: white;*/
    background-color: #ff8c77;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-family: vazir;
    font-size: 15px;
    top: 10.5px;
    left: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
}
.changeBtn {
    display: none;
}
.downBtn:hover {
    width: 60px;
    filter: drop-shadow(0px 0px 6px lightgray);
}
.downBtn:hover .changeBtn {
    display: block;
}
#aClose {
    margin-left: 15px;
    float: unset;
    width: auto;
    padding: 1px 12px;
    font-weight: 100;
    text-align: center;
    color: white;
    background-color: grey;
    font-family: vazir;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
}
.custom-loader {
    display: none;
    width:25px;
    height:25px;
    margin-top: 30px;
    border-radius:50%;
    border:4px solid;
    border-color:#FFCF9B;
    border-right-color: #C36328;
    animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}