<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block include %}
    {% endblock %}
    <title>{{ title }}</title>
    <style>
        #{{ section }} {
            background-color: #ac77ff;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <a id="profile" href="{{ request.user.cafe.first.get_absolute_url }}">
            {% if request.user.cafe.first.pPhoto %}
            <img src="{% url 'cafes:download' 'profile' request.user.cafe.first.id %}" class="cPhoto" >
            {% else %}
            <span class="cPhotoBox fi-rr-shop"></span>
            {% endif %}
            <strong class="cName">کافه {{ request.user.cafe.first.name }}</strong>
        </a>
        <div id="sideMenu">
            <a href="/dashboard" id="DashB" class="side_options">داشبورد</a>
            <a class="sideSection">مدیریت سفارشات</a>
            <a href="/orders" id="lOrders" class="side_options">سفارشات</a>
            <a href="/reservations" id="lReservations" class="side_options">میزهای رزرو شده</a>
            <a class="sideSection">محصولات و منوها</a>
            <a href="/product/list" id="lProducts" class="side_options">محصولات</a>
            <a href="/menu/new" id="nMenu" class="side_options">منو جدید</a>
            <a href="/menu/list" id="lMenus" class="side_options">منوها</a>
            <a class="sideSection">مدیریت کافه</a>
            <a href="/costs" id="nCost" class="side_options">هزینه ها</a>
            <a href="/reports" id="fReports" class="side_options">حسابداری</a>
            <a href="/dashboard/edit" id="cEdit" class="side_options">ویرایش پروفایل</a>
            <a href="/dashboard/upgrade" id="upgrade" class="side_options">حساب پریمیوم</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">
              {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
    <span class="fi-rr-menu-burger menuIcon"></span>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="{% static "js/base.js" %}"></script>
    {% block domready %}
    {% endblock %}
</body>
</html>