<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="{% static "css/setup.css" %}" rel="stylesheet">
    <title>پیکربندی کافه</title>
</head>
<body>
    <div id="pageContent">
        <h1 id="pTitle">پیکربندی پنل کافه</h1>
        <div id="proEdit">
            <img id="headPic" src="{% static "landing/setup.jpg" %}">
            <span id="cafeBanner">کافه<span id="bannerName">میلانو</span></span>
            <form id="mForm" method="post" enctype="multipart/form-data">
                <span class="backEffect"></span>
                <div id="cafeName" class="fields" data-id="1" style="z-index: 1;">
                    <span class="nName fLabel">اسم کافه :</span>
                    {{ form.name }}
                </div>
                <div id="cafeBio" class="fields" data-id="2">
                    <span class="nName fLabel">درباره کافه :</span>
                    {{ form.bio }}
                </div>
                <div id="cafeLocation" class="fields" data-id="3">
                    <span class="nName fLabel">لوکیشن کافه (اختیاری) :</span>
                    {{ form.map_link }}
                </div>
                {{ form.pPhoto }}
                {{ form.pBackground }}
                {% csrf_token %}
                <input id="submit" class="nForm" type="submit" value="ساخت پروفایل">
                <span data-id="1" class="fi-rr-angle-circle-left next"></span>
                <span id="loading" class="custom-loader"></span>
            </form>
        </div>
        <div id="blurEffect"></div>
        <div class="popUpBg"></div>
        <div id="message">
            <span id="successIcon" class="hidden fi-rr-comment-check"></span>
            <span id="errorIcon" class="hidden fi-rr-comment-xmark"></span>
            <span id="success" class="hidden">.پروفایل کافه شما با موفقیت ایجاد شد</span>
            <span id="error" class="hidden">.ساخت پروفایل با خظا مواجه شد</span>
            <a href="/dashboard" id="aClose" class="delBtn">پنل کاربری</a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="{% static "js/setup.js" %}"></script>
</body>
</html>