{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/cafe-settings.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="pageContent">
    <h1 id="pTitle">{{ title }}</h1>
    <div id="proEdit">
        <form id="mForm" method="post" enctype="multipart/form-data">
            <span class="nName fLabel">اسم کافه :</span>
            {{ form.name }}
            <span class="nName fLabel">آیدی کافه (انگلیسی حروف کوچک) :</span>
            {{ form.slug }}
            <span class="nName fLabel">درباره کافه :</span>
            {{ form.bio }}
            <span class="nName fLabel">تلفن کافه :</span>
            {{ form.phoneNum }}
            <span class="nName fLabel">لوکیشن کافه :</span>
            {{ form.map_link }}
            {{ form.city }}
            {{ form.pPhoto }}
            {{ form.pBackground }}
            <span class="nName fLabel">شبکه های اجتماعی :</span>
            <div>
                {{ sn_form.url }}
                {{ sn_form.sn_name }}
            </div>
            <input id="cps" name="photoKeepStatus" type="number" value="1" hidden>
            <input id="cbs" name="backgroundKeepStatus" type="number" value="1" hidden>
            {% csrf_token %}
            <input id="submit" class="nForm" type="submit" value="ذخیره">
        </form>
        <div id="photoEdit">
            <span class="picsName">تصویر پروفایل</span>
            <div class="pPBox">
                {% if cafe.pPhoto %}
                <img id="pPhotoPre" src="{{ cafe.pPhoto.url }}" alt="">
                <span id="proBox" class="fi-rr-shop" style="display: none;"></span>
                <span id="deletePhoto" class="deletePic fi-rr-trash"></span>
                {% else %}
                <img id="pPhotoPre" src="" alt="" style="display: none;">
                <span id="proBox" class="fi-rr-shop"></span>
                <span id="deletePhoto" class="deletePic fi-rr-trash" style="display: none;"></span>
                {% endif %}
                <span id="pPBtn" class="pEdit fi-rr-camera"><span class="changeBtn">تصویر جدید</span></span>
            </div>
            <span class="picsName">کاغذ دیواری پروفایل</span>
            <div class="pPBox">
                {% if cafe.pBackground %}
                <img id="pBackPre" src="{{ cafe.pBackground.url }}" alt="">
                <span id="pBackBox" class="fi-rr-picture" style="display: none;"></span>
                <span id="deleteBackground" class="deletePic fi-rr-trash"></span>
                {% else %}
                <img id="pBackPre" src="" alt="" style="display: none;">
                <span id="pBackBox" class="fi-rr-picture"></span>
                <span id="deleteBackground" class="deletePic fi-rr-trash" style="display: none;"></span>
                {% endif %}
                <span id="pBBtn" class="pEdit fi-rr-camera" style="bottom: -5px;right: -5px;"><span class="changeBtn">تصویر جدید</span></span>
            </div>
            <span class="picsName">لینک پروفایل</span>
            {% if cafe.slug %}
            <div id="cafeProfileLink">
                <span id="link-btn" class="fi fi-rr-link"></span>
                <span id="p-link">https://barisca.ir{{ cafe.get_absolute_url }}</span>
            </div>
            {% else %}
            <span class="notAlert">آیدی کافه تنظیم نشده است!</span>
            {% endif %}
            <span class="picsName">لینک منو پیشفرض</span>
            {% if cafe.qr %}
            <img id="nMenuQr" src="{% url 'cafes:download' 'default_menu' cafe.id %}" alt="">
            <div class="menuLinks">
                <a href="{% url 'cafes:download' 'default_menu' cafe.id %}" download="{{ cafe.qr.name }}" id="qrDown" class="downBtn Btn" style="background-color: cadetblue;text-decoration: none;">دانلود Qrcode</a>
            </div>
            {% else %}
            <span class="notAlert">آیدی کافه تنظیم نشده است !</span>
            {% endif %}
        </div>
    </div>
    {% if confirmAlert == 'Y' %}
    <div class="popUpBg">
        <div id="success">
           <span>! پروفایل با موفقیت بروز شد</span><br><br>
           <span id="aClose" class="delBtn">بستن</span>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block domready %}
<script src="{% static "js/cafe-settings.js" %}"></script>
{% endblock %}
