{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="pageContent">
    <h1 id="pTitle">عملکرد امروز</h1>
    <div id="overview">
        <div id="incomeDetail">
            <div class="TempsList" style="background-color: #a785db;border: solid #d0b8f0;">
                <div class="cProsCat"><span class="label">درآمد امروز</span><br><span class="price"><span style="font-size: 28px;">{{ daily_income }}</span> تومان</span></div>
            </div>
            <div class="TempsList" style="background-color: #dbaf85;border: solid #ffdebf;">
                <div class="cProsCat"><span class="label">سفارشات امروز</span><br><span class="price"><span style="font-size: 28px;">{{ ordersNUM }}</span> عدد</span></div>
            </div>
            <div class="TempsList" style="background-color: #85dbb4;border: solid #bfffed;">
                <div class="cProsCat"><span class="label">رزروی امروز</span><br><span class="price"><span style="font-size: 28px;">{{ reservedNUM }}</span> عدد</span></div>
            </div>
        </div>
        <div id="chartBox">
            <canvas id="myAreaChart"></canvas>
        </div>
    </div>
    <div id="announcements">
        <span class="sub_exp">
            {% if sub_exp == 1 %}
            <span class="announce_icon fi-rr-calendar-exclamation"></span>
            <span class="sub_exp_text">کمتر از 7 روز دیگر دسترسی شما به پنل بسته خواهد شد لطفا هر چه زودتر با مراجعه به بخش حساب پریمیوم از طریق منو کناری نسبت به تمدید اشتراک خود اقدام نمائید. درصورت عدم تمدید، منوهای شما غیرفعال خواهند شد!</span>
            {% elif sub_exp == 2 %}
            <span class="announce_icon fi-rr-calendar-exclamation"></span>
            <span class="sub_exp_text">بدلیل عدم تمدید حساب، پنل کاربری شما غیرفعال میباشد!  برای فعال سازی در اسرع وقت حساب خود را شارژ کنید.</span>
            {% else %}
            <span class="announce_icon fi-rr-envelope-open"></span>
            <span class="sub_exp_text">اطلاعیه ای جهت نمایش وجود ندارد.</span>
            {% endif %}
        </span>
    </div>
    <div class="popUpBg"></div>
    <div id="success">
        <span>! سفارش جدید با موفقیت ایجاد شد</span>
        <br><br>
        <span id="aClose" class="delBtn">بستن</span>
    </div>
</div>

{% endblock %}

{% block domready %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let chart_days = {{ chart_days|safe }};
    let chart_income = {{ chart_income|safe }};
    let chart_r_income = {{ chart_r_income|safe }};
</script>
<script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
