{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/new-menu.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="pageContent">
    <h1 id="pTitle">منو جدید</h1>
    <form id="mForm" method="post" enctype="multipart/form-data">
        <span class="nName fLabel"><small>(روی قالب مورد نظر کلیک کنید) </small>: قالب</span>
        {{ form.template }}
        <div id="TempsList">
        {% for temp in templates %}
            <div class="tPreview" data-id="{{ temp.id }}">
                <img src="{% url 'cafes:download' 'menu_thumb' temp.id %}" class="tThumbnail">
                <span class="tCategories">
                    {% for pt in temp.pTypes.all %}
                    <strong>{{ pt.name }}</strong>
                    {% empty %}
                    <strong>بدون محدودیت</strong>
                    {% endfor %}
                </span>
            </div>
        {% endfor %}
        </div>
        <span class="nPrice fLabel"><small>(برای افزودن روی هر مورد کلیک کنید) </small>: محصولات</span>
        <span class="fLabel" style="font-size: 13px;margin-top: 5px;color: crimson;">* تنها محصولی که در دسته بندی های قالب وجود داشته باشد نمایش داده خواهد شد.</span>
        {{ form.products }}
        <div id="cProsList">
        {% for pro in products %}
            {% ifchanged pro.cate.name %}
            <span class="cProsCat">{{ pro.cate.name }}</span>
            {% endifchanged %}
            <span class="cPros" data-id="{{ pro.id }}">{{ pro.name }}</span>
        {% endfor %}
        </div>
        {% csrf_token %}
        <input id="submit" class="nForm" type="submit" value="ذخیره">
        <span id="loading" class="custom-loader"></span>
    </form>
    <div class="popUpBg">
        <div id="success" class="success">
            <span>! منوی جدید با موفقیت ساخته شد</span>
            <img id="nMenuQr" src="http://127.0.0.1:8000/media/qrcode/2022/12/07/%D8%A7%D8%B5%D8%BA%D8%B1%D8%A2%D9%82%D8%A7-21.png" alt="">
            <div class="menuLinks">
                <div class="menuUrlBox">
                    <span id="urlCopy" class="downBtn delBtn" style="border: none;">!کپی کن</span>
                    <span id="menuUrl">
                        https://bariska.ir/m/1024
                    </span>
                </div>
                <a href="http://127.0.0.1:8000/media/qrcode/2022/12/07/%D8%A7%D8%B5%D8%BA%D8%B1%D8%A2%D9%82%D8%A7-21.png" download="Bariska-menu" id="qrDown" class="downBtn delBtn" style="background-color: cadetblue;text-decoration: none;">دانلود Qrcode</a>
            </div>
            <span id="aClose" class="Btn closeBtn">بستن</span>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}
<script src="{% static "js/new-menu.js" %}"></script>
{% endblock %}
