{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/menus.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="pageContent">
    <h1 id="pTitle">منوها</h1>
    {% for m in menus %}
    <div class="TempsList" data-id="{{ m.id }}">
        <img src="{% url 'cafes:download' 'menu_thumb' m.template.id %}" class="tThumbnail" data-id="{{ m.id }}">
        <span data-id="{{ m.id }}" class="cProsCat">{{ m.template.name }}</span>
        {% if m.isDefault == True %}
        <span id="isDefault" data-id="{{ m.id }}" class="cProsCat" style="background-color: #b86e6e;">پیشفرض</span>
        {% endif %}
        <br><br>
        <span class="nName fLabel" style="font-size: 14px;">: محصولات</span>
        <br>
        {% for p in m.products.all %}
        <span class="cPros">{{ p.name }}</span>
        {% endfor %}
        <span data-id="{{ m.id }}" class="setDefault downBtn fi fi-rr-settings-sliders" style="{% if m.isDefault == True %}display: none;{% endif %}left: 120px;background-color: #b177ff;"><span class="changeBtn">تنظیم بعنوان پیشفرض</span></span>
        <a href="{{ m.get_absolute_url }}"><span class="downBtn fi fi-rr-link" style="left: 85px;background-color: darkcyan;"><span class="changeBtn">لینک</span></span></a>
        <a href="{% url 'cafes:download' 'menu' m.id %}" download="{{ m.qr.name }}"><span class="downBtn fi fi-rr-qrcode"><span class="changeBtn">qrcode دانلود</span></span></a>
        <span data-id="{{ m.id }}" data-title="{{ m.template.name }}" class="mDel downBtn fi fi-rr-delete-document" style="left: 15px;background-color: #4e4e4e;"><span class="changeBtn">حذف</span></span>
    </div>
    {% empty %}
    <div class="emptyList">
        <span class="fi-rr-document emptyIcon"></span>
        <span class="alertText">هنوز منویی نساختید!</span>
    </div>
    {% endfor %}
    <div class="popUpBg">
        <div id="confirm" class="success">
            <strong id="delPro" style="width: 100%; margin-left: auto; margin-right: auto;"></strong><br><br>
            <span>آیا میخواهید این منو را حذف کنید؟ </span>
            <br><br>
            <div style="margin-left: auto;margin-right: auto;">
                <span id="delN" class="Btn" style="float: right;width: 33%;text-align: center;">خیر</span>
                <span id="delY" class="Btn" style="background-color: red;width: 33%;text-align: center;">بله</span>
            </div>
        </div>
        <div id="defSuccess" class="success">
            <span>! منو با موفقیت بعنوان پیشفرض تنظیم شد</span><br><br>
            <span id="dClose" class="Btn closeBtn">بستن</span>
        </div>
        <div id="success" class="success">
            <span>! منو با موفقیت حذف شد</span><br><br>
            <span id="aClose" class="Btn closeBtn">بستن</span>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}
<script src="{% static "js/menus.js" %}"></script>
{% endblock %}
