<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="{% static "css/payment.css" %}" rel="stylesheet">
    <title>پرداخت {{ pStatus }}</title>
</head>
<body>
    <div id="pageContent">
        <h1 id="pTitle">نتیجه پرداخت</h1>
        <div id="activeText">
            {% if status == 1 %}
            <span class="icon fi fi-rr-comment-check"></span>
            <span>پرداخت شما با<span style="color: green"> موفقیت </span>انجام شد !</span>
            {% elif status == 2 %}
            <span class="icon fi fi-rr-comment-arrow-up"></span>
            <span>پرداخت شما با<span style="color: blue"> موفقیت </span>ثبت شد !</span>
            {% elif status == 3 %}
            <span class="icon fi fi-rr-comment-xmark"></span>
            <span>پرداخت شما<span style="color: red"> ناموفق </span>بود !</span>
            {% elif status == 4 %}
            <span class="icon fi fi-rr-comment-exclamation"></span>
            <span>پرداخت شما با<span style="color: red"> خطا </span>مواجه شد !</span>
            {% else %}
            <span class="icon fi fi-rr-comment-xmark"></span>
            <span>پرداخت شما<span> لغو </span>شد !</span>
            {% endif %}
            <a href="/dashboard/upgrade" id="aClose" class="delBtn">برو به داشبورد</a>
        </div>
    </div>
</body>
</html>
