{% extends "dashboard/base.html" %}

<style>
    {% block style %}

    #cProsList {
        display: flex;
        margin-top: 10px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: space-around;
        min-height: 75px;
        align-items: center;
    }
    .proInfo {
        width: 100%;
        margin-top: 10px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #d8bfd87a;
        background-color: #d8bfd887;
        padding: 5px;
        border-radius: 5px;
    }
    .cPros {
        margin-left: 5px;
        padding: 2px 12px;
        font-family: vazir;
        font-weight: 100;
        background-color: unset;
        border-radius: 15px;
        cursor: default;
        transition: .2s;
    }
    .proPrice {
        float: left;
        margin-left: 15px;
        direction: rtl;
        font-family: shabnam;
        cursor: default;
    }
    .cProsCat {
        margin-left: 5px;
        margin-top: 25px;
        padding: 2.5px 10px;
        font-family: vazir;
        font-weight: 500;
        color: white;
        background-color: black;
        border-radius: 15px;
        cursor: default;
    }
    .editBtn {
        margin-left: 15px;
        float: left;
        width: auto;
        padding: 1px 12px;
        font-weight: 100;
        color: white;
        background-color: grey;
        font-family: vazir;
        border-radius: 15px;
        cursor: pointer;
        transition: .2s;
    }
    #aClose {
        margin-left: 15px;
        float: unset;
        width: auto;
        padding: 1px 12px;
        font-weight: 100;
        text-align: center;
        color: white;
        background-color: grey;
        font-family: vazir;
        border-radius: 15px;
        cursor: pointer;
        transition: .2s;
    }
    .delBtn:hover {
        opacity: 70%;
        border-style: solid;
        border-width: 2px;
        border-color: #fcc23b;
    }
    .popUpBg {
        position: fixed;
        display: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: grayscale(.5) blur(1px);
    }
    .success {
        position: absolute;
        display: none;
        left: 35%;
        top: 50%;
        background-color: white;
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        filter: drop-shadow(0px 0px 8px #41414161);
        font-family: vazir;
        cursor: default;
    }
    .add_popUpBg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: grayscale(.5) blur(1px);
    }
    #add_success {
        position: absolute;
        left: 35%;
        top: 50%;
        background-color: white;
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        filter: drop-shadow(0px 0px 8px #41414161);
        font-family: vazir;
        cursor: default;
    }
    #add_Close {
        margin-left: 15px;
        float: unset;
        width: auto;
        padding: 1px 12px;
        font-weight: 100;
        text-align: center;
        color: white;
        background-color: grey;
        font-family: vazir;
        border-radius: 15px;
        cursor: pointer;
        transition: .2s;
    }

    {% endblock %}
</style>

{% block content %}
<div id="pageContent">
    <h1 id="pTitle">محصول جدید</h1>
    <form id="mForm" method="post" enctype="multipart/form-data">
        <span class="nCat fLabel">دسته بندی :</span>
        {{ form.cate }}
        <span class="nName fLabel">اسم :</span>
        {{ form.name }}
        <span class="nPrice fLabel">قیمت : <small>(تومان) </small></span>
        {{ form.price }}
        {% csrf_token %}
        <input id="submit" class="nForm" type="submit" value="ذخیره">
    </form>
    {% if confirmAlert == 'Y' %}
    <div class="add_popUpBg">
        <div id="add_success">
           <span>! محصول با موفقیت ایجاد شد</span><br><br>
           <span id="add_Close" class="delBtn">بستن</span>
        </div>
    </div>
    {% endif %}
</div>
<div id="pageContent2">
    <h1 id="pTitle">محصولات کافه</h1>
    <div id="cProsList">
    {% for pro in products %}
        {% ifchanged pro.cate.name %}
        <span class="cProsCat">{{ pro.cate.name }}</span>
        {% endifchanged %}
        <div class="proInfo" data-id="{{ pro.id }}">
            <span class="cPros" data-id="{{ pro.id }}">{{ pro.name }}</span>
            <span class="proPrice">{{ pro.price }} ت</span>
            <a href="/product/{{ pro.id }}/update" class="editBtn">ویرایش</a>
            <a class="editBtn deleteBtn" data-id="{{ pro.id }}" data-title="{{ pro.name }}">حذف</a>
        </div>
    {% endfor %}
    </div>
    <div class="popUpBg">
        <div id="confirm" class="success">
            <strong id="delPro" style="width: 100%; margin-left: auto; margin-right: auto;"></strong><br><br>
            <span>آیا میخواهید این محصول را حذف کنید؟ </span>
            <br><br>
            <div style="margin-left: auto;margin-right: auto;">
                <span id="delN" class="editBtn delBtn" style="float: right;width: 33%;text-align: center;">خیر</span>
                <span id="delY" class="editBtn delBtn" style="background-color: red;width: 33%;text-align: center;">بله</span>
            </div>
        </div>
        <div id="success" class="success">
            <span>! محصول با موفقیت حذف شد</span><br><br>
            <span id="aClose" class="delBtn">بستن</span>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}

var pId;
$(" .deleteBtn ").click(function(e) {
    e.preventDefault();
    $(" #delPro ").text($(this).data('title'));
    pId = $(this).data('id');
    $(" .popUpBg ").fadeIn(150);
    $(" #confirm ").fadeIn(200);
});
$(" #delN ").click(function(e) {
    e.preventDefault();
    $(" .popUpBg ").fadeOut(150);
    $(" #confirm ").fadeOut(200);
});
$(" #aClose ").click(function(e) {
    e.preventDefault();
    $(" .popUpBg ").fadeOut(150);
    $(" #success ").fadeOut(200);
});
$(" #add_Close ").click(function(e) {
    e.preventDefault();
    $(" .add_popUpBg ").fadeOut(150);
    $(" #add_success ").fadeOut(200);
});
$(" #delY ").click(function(e) {
    e.preventDefault();
    $.post('{% url "cafes:pDelete" %}',
      {
        'id': pId,
      },
      function(data){
        if (data['status'] == 'ok')
        {
            $(' .proInfo[data-id="'+ pId +'"] ').fadeOut(300);
            $(" #confirm ").fadeOut(200);
            $(" #success ").fadeIn(200);
        }
      }
    );
});

{% endblock %}

