{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/products.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="pageContent">
    <h1 id="pTitle">محصول جدید</h1>
    <form id="mForm" method="post" enctype="multipart/form-data">
        <div class="formItem">
            <span class="nCat fLabel">دسته بندی :</span>
            {{ form.cate }}
            <span class="nName fLabel">اسم :</span>
            {{ form.name }}
            <span class="nPrice fLabel">قیمت : <small>(تومان) </small></span>
            {{ form.price }}
        </div>
        <div class="formItem">
            <span class="nName fLabel">تصویر :</span>
            <div id="pPhotoBox">
                <span id="pPhotoIco" class="fi-rr-camera"></span>
                <img id="pPhotoPre" src="" alt="">
                <span class="deletePic fi-rr-cross-small" style="display: none;"></span>
            </div>
            <span id="choosePic">انتخاب عکس</span>
            {{ form.photo }}
        </div>

        {% csrf_token %}
        <input id="submit" class="nForm" type="submit" value="ذخیره">
        <span id="loading" class="custom-loader"></span>
    </form>
    <div class="popUpBg add_popUpBg">
        <div id="add_success" class="success">
           <span>! محصول با موفقیت ایجاد شد</span><br><br>
           <span id="add_Close" class="Btn closeBtn">بستن</span>
        </div>
    </div>
</div>
<div id="pageContent2">
    <h1 id="pTitle">محصولات</h1>
    <div id="cProsList">
    {% for pro in products %}
        {% ifchanged pro.cate.name %}
        <span class="cProsCat" data-id="{{ pro.cate.name }}">{{ pro.cate.name }}</span>
        {% endifchanged %}
        <div class="proInfo" data-id="{{ pro.id }}">
            {% if pro.photo %}
                <img class="proPhoto" src="{% url 'cafes:download' 'product_icon' pro.id %}" alt="">
                {% else %}
                <span class="proPhotoIco fi-rr-coffee-pot"></span>
                {% endif %}
            <span class="cPros" data-id="{{ pro.id }}">{{ pro.name }}</span>
            <span class="proPrice">{{ pro.price }} ت</span>
            <a href="/product/{{ pro.id }}/update"><span class="editBtn fi-rr-edit"></span></a>
            <span class="editBtn deleteBtn fi-rr-cross-small" data-id="{{ pro.id }}" data-title="{{ pro.name }}"></span>
        </div>
    {% empty %}
    <div class="emptyList">
        <span class="fi-rr-document emptyIcon"></span>
        <span class="alertText">هنوز محصولی تعریف نکردید!</span>
    </div>
    {% endfor %}
    </div>
    <div class="popUpBg">
        <div id="confirm" class="success">
            <strong id="delPro" style="width: 100%; margin-left: auto; margin-right: auto;"></strong><br><br>
            <span>آیا میخواهید این محصول را حذف کنید؟ </span>
            <br><br>
            <div style="margin-left: auto;margin-right: auto;">
                <span id="delN" class="Btn" style="float: right;width: 33%;text-align: center;">خیر</span>
                <span id="delY" class="Btn" style="background-color: red;width: 33%;text-align: center;">بله</span>
            </div>
        </div>
        <div id="success" class="success">
            <span>! محصول با موفقیت حذف شد</span><br><br>
            <span id="aClose" class="Btn closeBtn">بستن</span>
        </div>
    </div>
</div>

{% endblock %}

{% block domready %}
<script src="{% static "js/products.js" %}"></script>
{% endblock %}

