{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/reservation.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="pageContent">
    <h1 id="pTitle">{{ title }}</h1>
    <form id="mForm" method="post" enctype="multipart/form-data">
        <span class="nCat fLabel">شماره میز :</span>
        {{ form.tNumber }}
        <span class="nName fLabel">رزرو کننده :</span>
        {{ form.reservedBy }}
        <br>
        <span class="nName fLabel">تاریخ رزرو :</span>
        {{ form.date }}
        <span class="nPrice fLabel">زمان پایان رزرو :</span>
        {{ form.endTime }}
        <br>
        <span class="nPrice fLabel">هزینه رزرو <small>(تومان)</small> : </span>
        {{ form.cost }}
        <br>
        {% csrf_token %}
        <input id="submit" class="nForm" type="submit" value="ذخیره">
    </form>
    <div id="orderList">
        {% include "dashboard/reservedAJAX.html" %}
    </div>
    <div id="delBg" class="popUpBg" style="display: none;"></div>
    <div id="confirm" class="success" style="display: none;">
        <strong id="delPro" style="width: 100%; margin-left: auto; margin-right: auto;"></strong><br><br>
        <span>این رزرو را لغو می کنید؟ </span>
        <br><br>
        <div style="margin-left: auto;margin-right: auto;">
            <span id="delN" class="delBtn">خیر</span>
            <span id="delY" class="delBtn">بله<span id="loading" style=";width: 15px;height: 15px;margin-top: unset;" class="custom-loader"></span></span>
        </div>
    </div>
    {% if confirmAlert != 'N' %}
    <div class="popUpBg"></div>
    <div id="success" class="success">
       <span>! رزرو میز با موفقیت ثبت شد</span><br><br>
       <span id="aClose" class="delBtn">بستن</span>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block domready %}
<script src="{% static "js/reservation.js" %}"></script>
{% endblock %}
