{% extends "dashboard/base.html" %}
{% load static %}
{% block include %}
<link href="{% static "css/subscription.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="pageContent">
    {% if subStatus == True %}
    <h1 id="pTitle" style="direction: rtl;">حساب پریمیوم </h1>
    <div id="activeText">
        <span>: حساب کافه شما تا تاریخ</span><br>
        <span class="activeTime">{{ subExp }}</span><br>
        <span style="color: green"> فعال </span>
        <span>. میباشد</span>
    </div>
    {% else %}
    <h1 id="pTitle" style="direction: rtl;">حساب پریمیوم <small style="color: red;font-size:16px;">(غیرفعال)</small></h1>
    <br>
    {% endif %}
    <span class="fLabel">یکی از پلن های زیر را انتخاب کنید :</span>
    <div class="plans">
        <div class="TempsList" data-id="1">
            <div class="cProsCat"><span class="label">پلن یک ماهه</span><br><span class="price"><span style="font-size: 28px;">120</span> هزار تومان</span></div>
        </div>
        <div class="TempsList temp2" data-id="2">
            <div class="cProsCat"><span class="label">پلن سه ماهه</span><br><span class="price"><span style="font-size: 28px;">345</span> هزار تومان</span></div>
        </div>
        <div class="TempsList temp3" data-id="3">
            <div class="cProsCat"><span class="label">پلن شش ماهه</span><br><span class="price"><span style="font-size: 28px;">660</span> هزار تومان</span></div>
        </div>
        <div class="TempsList temp4" data-id="4">
            <div class="cProsCat"><span class="label">پلن یک ساله</span><br><span class="price"><span style="font-size: 28px;">1.2</span> میلیون تومان</span></div>
        </div>
        <input id="submit" class="nForm" type="submit" value="پرداخت" style="display: none;">
    </div>
    {% include "dashboard/paymentsAJAX.html" %}
    <div class="popUpBg"></div>
</div>

{% endblock %}

{% block domready %}
<script src="{% static "js/subscription.js" %}"></script>
{% endblock %}
