@font-face {
    font-family: Shabnam;
    src: url(/static/webfonts/Shabnam-FD.ttf);
}
@font-face {
    font-family: ShabnamLight;
    src: url(/static/webfonts/Shabnam-Light-FD.ttf);
}
@font-face {
    font-family: ShabnamMedium;
    src: url(/static/webfonts/Shabnam-Medium-FD.ttf);
}
@font-face {
    font-family: ShabnamBold;
    src: url(/static/webfonts/Shabnam-Bold-FD.ttf);
}
@font-face {
    font-family: Vazir;
    src: url(/static/webfonts/Vazir.ttf);
}
@font-face {
    font-family: VazirBold;
    src: url(/static/webfonts/VazirBold.ttf);
}
@font-face {
    font-family: Shiraz;
    src: url(/static/webfonts/Shiraz.TTF);
}
@font-face {
    font-family: BANAFSHE;
    src: url(/static/webfonts/banafshe.ttf);
}
@font-face {
    font-family: Dastnevis;
    src: url(/static/webfonts/DastNevis.otf);
}
@font-face {
    font-family: Two;
    src: url(/static/webfonts/MjTwoBold.ttf);
}
@font-face {
    font-family: Mitra;
    src: url(/static/webfonts/Smitrabd.TTF);
}
@font-face {
    font-family: Ordibehesht;
    src: url(/static/webfonts/Ordibehesht.TTF);
}
@font-face {
    font-family: Gandom;
    src: url(/static/webfonts/Gandom-FD.ttf);
}
* {
    margin: 0;
}
#navigation {
    position: sticky;
    display: flex;
    direction: rtl;
    width: auto;
    height: 50px;
    background-color: tan;
    top: 0;
    gap: 15px;
    padding: 0 15px;
    z-index: 1;
    align-items: center;
}
.navigation {
    height: max-content;
}
.menuBtn {
    display: none;
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 10px;
    border-radius: 10px;
    line-height: 0;
    text-align: center;
    background-color: beige;
}
.navItem {
    padding: 14px;
    font-family: shabnam;
    font-weight: bold;
    background-color: tan;
    border-left: solid 2px white;
    border-right: solid 2px white;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: .2s;
}
.navItem:hover {
    background-color: darkorange;
}
.navCurrent {
    background-color: darkslateblue !important;
    border: solid 2px white;
    scale: 1.1;
    cursor: default;
}
.logo-text {
    position: absolute;
    left: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: orangered;
    cursor: default;
}
#logo {
    font-family: banafshe;
    font-size: 10px;
}
#post-head {
    display: flex;
    direction: rtl;
    gap: 15px;
    background-color: cornsilk;
    padding: 20px 10px;
}
#post-img {
    border-radius: 12px;
}
#post-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.post-detail {
    display: flex;
    direction: inherit;
    width: max-content;
    padding: 3px 10px;
    gap: 10px;
    align-items: center;
    font-family: 'Shabnam';
    font-size: 15px;
    border-radius: 20px;
    background-color: tan;
    cursor: default;
    color: white;
}
.post-link {
    cursor: pointer;
}
#post-title {
    font-size: 22px;
    font-family: vazir;
    font-weight: bold;
}
#post-created {
    font-family: Shabnam;
}
#post-content {
    direction: rtl;
    text-align: right;
    font-family: 'Gandom';
    padding: 20px;
}
#recommended-posts {
    display: flex;
    overflow: auto;
    width: -webkit-fill-available;
    direction: rtl;
    padding: 10px;
    background-color: lightsalmon;
    gap: 20px;
}
#recommended-label {
    margin: auto 0;
    font-size: 16px;
    font-family: shabnam;
    font-weight: bold;
    background-color: #c07658;
    color: white;
    padding: 13px 10px;
    border-radius: 8px;
    cursor: default;
}
.recommended {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: min-content;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    transition: .3s;
}
.recommended:hover {
    scale: 1.03;
}
.recommended-img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
}
.recommended-title {
    font-family: vazir;
}
.recommended-short {
    width: 200px;
    font-family: 'Gandom';
    font-size: 12px;
}
.recommended-btn {
    font-size: 13px;
    font-family: vazir;
    font-weight: bold;
    width: auto;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    background-color: brown;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
#copyright {
    display: block;
    width: inherit;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    font-family: shabnam;
    font-size: 14px;
    direction: rtl;
}
@media only screen and (max-width: 425px) {
    #navigation {
        overflow: hidden;
        align-items: center;
        height: 50px;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .menuBtn {
        display: inline;
    }
    .navigation {
        height: max-content !important;
    }
    .logo-text {
        position: relative;
        width: auto !important;
        left: unset;
        border: none !important;
        margin: 10px auto;
    }
    .navItem {
        position: relative;
        width: -webkit-fill-available;
        border: none;
        border-top: solid 2px white;
        border-bottom: solid 2px white;
    }
    .navItem.navCurrent {
        scale: 1;
        border: none;
    }
    #post-head {
        flex-direction: column;
    }
}