<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="منو دیجیتال، سفارش الکترونیک، رزرو آنلاین، صفحه اختصاصی">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href="{% static "css/landing.css" %}" rel="stylesheet">
	<title>باریسکا | منوی دیجیتال کافه</title>
</head>
<body>
	<div id="navBar">
		<a href="/blog" class="navItem">بلاگ</a>
		<a id="loginBtn" class="navItem" href="{% url "social:begin" "google-oauth2" %}">
			<img class="loginIcon" width="20px" height="20px" src="{% static "svg/Google-icon.svg" %}"></img>
			<span>ورود/ ثبت نام با</span>
		</a>
	</div>
    <div id="head">
        <div class="hDetail">
            <span id="Text">باریســــکا</span>
			<span id="headTitle">! کافه داری دیجیتال</span>
			<p id="headText">
				<span class="headText fi-rr-interactive">سفارش الکترونیک</span>
                <span class="headText fi-rr-interactive">منوی دیجیتال</span>
				<span class="headText fi-rr-interactive">رزرو آنلاین</span>
            </p>
            <a class="button" href="/dashboard">ورود به داشبورد</a>
        </div>
		<img id="headPic" src="{% static "landing/head-image.png" %}">
    </div>
    <div id="detail">
		<div id="sec2Topic">
			<span id="sec2Topic1">چرا</span>
			<span id="sec2TopicText">باریسکا</span>
			<span id="sec2Topic2">؟!</span>
		</div>
		<div id="sec2Text">
			<div class="sec2Item">
				<img class="sec2ItemImg" id="sec2Item1Img" src="{% static "landing/sec2Item1.png" %}" alt="منوی دیجیتال">
				<span class="deText">حذف هزینه چاپ مجدد منو<br/>هنگام تغییر قیــمت ها</span>
				<svg class="Line Line_3" viewBox="0 0 600.772 0.699999988079071">
					<path id="Line_3" d="M 0 0 L 600.7716674804688 0"></path>
				</svg>
			</div>
			<div class="sec2Item">
				<img class="sec2ItemImg" id="sec2Item2Img" src="{% static "landing/sec2Item2.png" %}" alt="منوی دیجیتال">
				<span class="deText">ساخت و بروزرسانی منو<br/>به همراه قالب های متنوع</span>
				<svg class="Line Line_4" viewBox="0 0 410.498 0.699999988079071">
					<path id="Line_4" d="M 0 0 L 410.4979553222656 0">
					</path>
				</svg>
			</div>
			<div class="sec2Item">
				<img class="sec2ItemImg" id="sec2Item3Img" src="{% static "landing/sec2Item3.png" %}" alt="منوی دیجیتال">
				<span class="deText">سفارش گیری الکترونیک</span>
			</div>
		</div>
		<div id="joinUs">
			<div id="joinBtn">!کافه تُ مدرن کن</div>
		</div>
    </div>
	<div id="profileDemo">
		<div id="profile-phone">
			<img class="profile-demo" src="{% static "landing/profile-demo.png" %}" alt="">
			<span class="demo-phone-detail"></span>
		</div>
		<div class="profile-explain">
			<span class="profile-explain-topic">کافه تون رو با پروفایل اختصاصی معرفی کنید!</span>
			<p class="profile-explain-text">
				✔️ منوی دیجیتالی کافه رو اضافه کنید
				✔️ راه های ارتباطی رو شخصی سازی کنید
				✔️ لوکیشن دقیق کافه رو با مپ به مشتری نشون بدین
				✔️ لینک تمام صفحات مجازی کافه رو یکجا به اشتراک بگذارید
			</p>
		</div>
	</div>
	<div class="plansTopic">
		<span class="plansTopicText">محیط پنل مدیریت</span>
	</div>
	<div id="demoBox">
		<div id="demoSide">
			<span id="orderSub" class="dSideText" data-id="1">ثبت سفارش</span>
			<span id="MenuBuild" class="dSideText dSideTextSelected" data-id="2">ساخت منو</span>
			<span id="Finance" class="dSideText" data-id="3">حسابداری</span>
			<span id="Report" class="dSideText" data-id="4">گزارش گیری</span>
			<span id="Dashboard" class="dSideText" data-id="5">داشبورد</span>
			<span id="Reserve" class="dSideText" data-id="6">رزرو میز</span>
		</div>
		<div id="demo1" class="demo" data-id="1">
			<img id="ordercreate" class="demoImage" src="{% static "landing/orderManagement.png" %}">
			<span class="demoTitle">ثبت و مدیریت سفارش به راحتی !</span>
		</div>
		<div id="demo2" class="demo" data-id="2"  style="display: block">
			<img id="menucreate" class="demoImage" src="{% static "landing/newMenu.png" %}">
			<span class="demoTitle"> ساخت منو جدید و دریافت Qr code  </span>
		</div>
		<div id="demo3" class="demo" data-id="3">
			<img id="management" class="demoImage" src="{% static "landing/financeManagement.png" %}">
			<span class="demoTitle">مشاهده جزئیات آمار مالی کافه</span>
		</div>
		<div id="demo5" class="demo" data-id="4">
			<img id="reports" class="demoImage" src="{% static "landing/buildReport.png" %}">
			<span class="demoTitle">گزارش گیری جامع و دریافت فایل Excel</span>
		</div>
		<div id="demo6" class="demo" data-id="5">
			<img id="overview" class="demoImage" src="{% static "landing/Dashboard.png" %}">
			<span class="demoTitle">مشاهده آمار فروش روز روی نمودار</span>
		</div>
		<div id="demo4" class="demo" data-id="6">
			<img id="reservation" class="demoImage" src="{% static "landing/Reservation.png" %}">
			<span class="demoTitle">مشاهده و مدیریت میزهای رزرو شده</span>
		</div>

	</div>
	<div class="plansTopic">
		<span class="plansTopicText">لیست قیمت ها</span>
	</div>
	<div id="plans">
		<div class="planBox">
			<span class="planTitle">اشتراک یک ماهه</span>
			<div class="planDetail">
				<div class="planBase">
					<span class="planPeriod">ماهانه/</span>
					<span class="planBasePrice">120<span class="ppLabel">هزار تومان</span></span>
				</div>
				<span class="planPrice">
					<span class="ptLabel">پرداختی :</span>
					<span>120,000</span>
					<span class="ptLabel">تومان</span>
				</span>
				<div class="planFeatures">
					<span>* دسترسی به تمامی امکانات</span>
				</div>
			</div>
		</div>
		<div class="planBox">
			<span class="planTitle">اشتراک سه ماهه</span>
			<div class="planDetail">
				<div class="planBase">
					<span class="planPeriod">ماهانه/</span>
					<span class="planBasePrice">115<span class="ppLabel">هزار تومان</span></span><br>
				</div>
				<span class="planPrice">
					<span class="ptLabel">پرداختی :</span>
					<span>345,000</span>
					<span class="ptLabel">تومان</span>
				</span>
				<div class="planFeatures">
					<span>*  دسترسی به تمامی امکانات</span>
				</div>
			</div>
		</div>
		<div class="planBox">
			<span class="planTitle">اشتراک شش ماهه</span>
			<div class="planDetail">
				<div class="planBase">
					<span class="planPeriod">ماهانه/</span>
					<span class="planBasePrice">110<span class="ppLabel">هزار تومان</span></span>
				</div>
				<span class="planPrice">
					<span class="ptLabel">پرداختی :</span>
					<span>660,000</span>
					<span class="ptLabel">تومان</span>
				</span>
				<div class="planFeatures">
					<span>* دسترسی به تمامی امکانات</span>
				</div>
			</div>
		</div>
		<div class="planBox">
			<span class="planTitle">اشتراک یک ساله</span>
			<div class="planDetail">
				<div class="planBase">
					<span class="planPeriod">ماهانه/</span>
					<span class="planBasePrice">100<span class="ppLabel">هزار تومان</span></span>
				</div>
				<span class="planPrice">
					<span class="ptLabel">پرداختی :</span>
					<span>1,200,000</span>
					<span class="ptLabel">تومان</span>
				</span>
				<div class="planFeatures">
					<span>* دسترسی به تمامی امکانات</span>
				</div>
			</div>
		</div>
	</div>
    <div id="foot">
		<div id="zarinpal">
			<script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
		</div>
		<span style="width: 3px;height: 60%; background-color: whitesmoke; border-radius: 15px;"></span>
		<div id="contact">
			<span class="contact">ارتباط با ما ؛</span>
			<div class="contactDetail" style="color: lightblue;">
				<span class="fi-rr-calendar-clock" style="height: 18px;"></span>
				<span>هر روز از 8:00 تا 17:00</span>
			</div>
			<div class="contactDetail">
				<span class="fi-rr-circle-phone-flip" style="height: 18px;"></span>
				<span>0910 351 1899</span>
			</div>
		</div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
	<script src="{% static "js/landing.js" %}"></script>
</body>
</html>